@import url(../assets/fonts/all-fonts.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --PlusJakarta-extraLight: "PlusJakartaSans200";
  --PlusJakarta-light: "PlusJakartaSans300";
  --PlusJakarta-regular: "PlusJakartaSans400";
  --PlusJakarta-medium: "PlusJakartaSans500";
  --PlusJakarta-semibold: "PlusJakartaSans600";
  --PlusJakarta-bold: "PlusJakartaSans700";
  --PlusJakarta-extraBold: "PlusJakartaSans800";
  --white: white;
  --black: black;
  --body: #F5F5F7;
  --body-light: #FAFAFA;
  --sidebar-text: #8E92BC;
  --secondry-text: #54577A;
  ;
}

body {
  color: var(--black);
  background: var(--body);
}

.react-calendar button span div abbr {
  font-family: var(--PlusJakarta-semibold) !important;
}